/* Global Font */

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* Primary Color and Styles */

body{
    background-color: #f5f5f5;
}

.section-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.section-description{
    color: #0E0E0EB3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* Header Styles - Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
}

nav ul li{
    list-style: none;
}

.header-logo{
    color: black;
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
}

nav .header-button{
    box-sizing: border-box;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    background-color: #fff;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px 15px 30px;
}

nav .header-button:hover {
    background-color: #006A50;
    color: #fff;
    cursor: pointer;
}
/* Banner Styles */

.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0;
}

.banner-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    margin: 16px 0 24px 0;
}

.hero-button{
    color: #fff;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: #006A50;
    border: none;
}

.hero-button:hover {
    background-color: #fff;
    color: #006A50;
    cursor: pointer;
    border: 1px solid #006A50;
}

.hero-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
}

.hero-banner{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px 160px 80px;
    padding: 80px 59px 80px 59px;

}

.hero-img{
    width: 474.03px;
}

/* Main Body Styles */
main{
    max-width: 1600px;
    margin: 0 160px;
}

/* Pillars Section Styles */
.pillars-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;

}

.pillar{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.pillar-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 12px 24px;
}

.pillar-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 24px;
}

.pillar-img{
    margin: 25px;
}

/* Vision Styles */

.vision-description{
    margin-bottom: 32px;
    padding-right: 40px;
}

.vision-container{
    display: flex;
    gap: 24px;
    margin-bottom: 80px;

}

.vision-card-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}

.vision-card-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}

.vision-card-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}

.card-title{
    color: black;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.card-description{
    color: #0E0E0EB3;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.card-btn-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
}

.card-btn-1:hover{
    background-color: #fff;
    color: rgb(84, 144, 245);
    border: 1px solid rgb(84, 144, 245);
    cursor: pointer;
}

.card-btn-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
}

.card-btn-2:hover{
    background-color: #fff;
    color: rgb(9, 161, 92);
    border: 1px solid rgb(9, 161, 92);
    cursor: pointer;
}
.card-btn-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
}

.card-btn-3:hover{
    background-color: #fff;
    color:rgb(255, 194, 57);
    border: 1px solid rgb(255, 194, 57);
    cursor: pointer;
}

/* Quote Styles */

.quote{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    margin-bottom: 80px;
}

.quote-container{
    background-image: url('/assets/img/quote-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 10px;
}
.quote-text{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.quote-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

.quote-designation{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 4px 0 0 0;
}

/* News Styles */

.news{
    margin-bottom: 80px;
}

.news-container{
    display: flex;
    margin-bottom: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
}

.news-container-2 {
    display: flex;
    margin-bottom: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
}

.news-content{
    margin: 0 32px;
}

.news-img{
    border-radius: 24px;
    
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin: 0;
}

.calender{
    margin-bottom: 12px;
}

.news-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    border: none;
    margin-top: 32px;
}

.news-btn:hover{
    background-color: #fff;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    cursor: pointer;
}

.news-channel{
    margin: 12px 0;
}

.news-container-2{
    display: flex;
    flex-direction: row-reverse;
}

/* Donate Section Styles */

.donate{
    margin-bottom: 80px;
}

.donate-title, .donate-description{
    text-align: center;
}

.donate-amount:hover {
    background-color: #C6E4D6;
    cursor: pointer;
}

.donate-description{
    margin: 24px 88px 32px 88px;
}

.donate-container{
    display: flex;
    gap: 24px;
    margin:0 105px;
    justify-content: space-between;
}

.donate-amount{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.donate-amount.bg {
    background-color: #C6E4D6;
}

.amount-field{
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    max-width: 1032px;
    margin: 0 auto;
    padding-top: 32px;
}

input[type="text"]{
    display: block;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 20px 40px;
    width: 100%;
    margin: 32px auto;
    text-align: center;
    border: none;
    outline: none;
}

.donate-button{
    text-align: center;
}
.donate-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.donate-btn:hover{
    border: 1px solid rgb(0, 106, 80);
    background-color: #fff;
    color: #006A50;
    cursor: pointer;
}

/* Newsletter Form */

.newsletter{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin-bottom: 80px;;
}

.newsletter .container{
    text-align: center;
}

.newsletter-title{
    margin:0;
}

.newsletter-description{
    margin: 16px 0 24px 0;
}

input[type="email"]{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 20px 40px 20px 40px;
    width: 70%;
    max-width: 600px;
    outline: none;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.submit-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
}

.submit-btn:hover{
    background-color: #09a15c;
    color: #ffffff;
    cursor: pointer;
}

/* Footer Styles */

footer{
    padding: 50px 160px 50px 160px;
}

footer hr {
    margin: 32px auto;
    border: 1px solid rgba(14, 14, 14, 0.1);
    max-width: 1122px;
}

.footer-text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.footer-container{
    text-align: center;
}

.social-icon {
    margin-left: 23px;
}